@using System.Xml.Linq;
@model Int32?
@{
    ViewBag.Title = "Data - Generate Document";
}

@section styles {
    
    textarea { margin:0px; }
    input, .dataInGrid { font-size:1em;margin: 0em 0em 0em 0em; padding: 0.25em 0em 0.25em 0.25em; }

    .ui-resizable-se {
        bottom: 17px;
    }

    .no-wrap {
        white-space:nowrap;
    }

    .plainTable {
        width: 100%;
        white-space:nowrap;
    }

    .messages td:first-child {
        width: 50px;
    }

    .defaultTable .ui-button-text {
        padding-top: 0; padding-bottom: 0;
    }
    
    .defaultTable .buttonColumn {
        text-align: right;
    }

    .defaultTable {
	    border-collapse: collapse;
        width: 100%;
        white-space:nowrap;
	}

    .defaultTable th {
        background-color: Darkorange;
	    padding: 0 0.5em;
	    text-align: left;
	}
    .defaultTable tfoot tr th {
        background-color: orange;
	    padding: 0 0.5em;
	    text-align: left;
	}
    .defaultTable td {
	    border-bottom: 1px solid #CCC;
	    padding: 0 0.5em;
	}

    .defaultTable tr:nth-child(even) {
       background-color: wheat;
    }
    .defaultTable tr:nth-child(odd) {
       background-color: palegoldenrod;
    }
    .defaultTable td+td {
	    border-left: 1px solid #CCC;
	}
}

<div id="realUI" style="clear:both;">
    <!-- ko if: dataDocument -->
    <div style="text-align:right; vertical-align:middle; height:100%;font-weight:700;" >
        <span>Current Document</span>&nbsp;:&nbsp;<span data-bind="text: dataDocument().Name"/>
    </div>
    <!-- /ko -->
    <div id="tabs" class="dataInGrid" >
      <ul>
        <li><a href="#tabs-data">Data</a></li>
        <li><a href="#tabs-template-fields">Document Template Fields</a></li>
        <li><a href="#tabs-document">Document</a></li>
        <li><a href="#tabs-documents">Documents</a></li>
        <li><a href="#tabs-templates">Templates</a></li>
        <li><a href="#tabs-messages">Messages</a></li>
        
      </ul>
      <div id="tabs-data">
        <table class="defaultTable">
            <thead>
                <tr>
                    <th>Set Name</th>
                    <th style="text-align:right">View</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko template: { name: 'data-set-template', foreach: sets } -->
                <!-- /ko -->
            </tbody>
            <tfoot>
                <tr>
                    <th>Add a new Set</th>
                    <th style="text-align:right">
                        <select id="btnAddTemplateSet" data-bind="options: fieldGroups, optionsText: 'Description', optionsValue: 'Id'"></select>
                        <button style="font-size:0.85em;" data-bind="click: addTemplateSet.bind($data, '#btnAddTemplateSet'), button: { text: true, icons: { primary: 'ui-icon-plus' } }">add</button>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div style="height:2em;"></div>
        <div data-bind="visible: selectedSet">
            <table class="defaultTable" data-bind="with: selectedSet">
                <thead>
                    <tr>
                        <th style="background-color:green;color:white; font-weight:700">Current Set Name : <span style="color:palegoldenrod;" data-bind="text: Name"></span></th>
                    </tr>
                </thead>
            </table>

            <table class="defaultTable" data-bind="with: selectedSet">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Data</th>
                        <th style="text-align:right">View</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'data-item-template', foreach: setItems } -->
                    <!-- /ko -->
                </tbody>
            </table>

            <div id="editor" data-bind="with: editorItem">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <textarea style="height:10em;width:100%;" data-bind="value: Value"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;padding:0;">
                            <button style="font-size:0.85em;" data-bind="click: $parent.update, button: { text: true, icons: { primary: 'ui-icon-check' } }">update</button>
                        </td>
                    </tr>
                    <!-- ko with: $parent.lastUpdate -->
                    <tr>
                        <td style="color:green; font-size: 0.85em">
                            <span data-bind="text: (new Date()).toString()"></span>
                            <span data-bind="text: Description"></span>
                            <span data-bind="text: Value"></span>
                        </td>
                    </tr>
                    <!-- /ko -->
                </table>
            </div>
        </div>
      </div>
      <div id="tabs-document">

      </div>
      <div id="tabs-documents">
        <div class="ui-widget">Select a document for editing :</div>
        <div style="height:1em;"></div>
        <table class="defaultTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align:right">Select</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: dataDocuments -->
                <tr>
                    <td data-bind="text: Name" ></td>
                    <td style="text-align:right;">
                        <button style="font-size:0.85em;" data-bind="click: $parent.selectDataDocument, button: { text: false, icons: { primary: 'ui-icon-check' } }">select</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
      </div>
      <div id="tabs-template-fields">
        <!-- ko if: dataDocument -->
        <div style="background-color:goldenrod; width: 100%; padding: 2px;font-weight:700;">
            <span>Current Document</span>&nbsp;:&nbsp;<span data-bind="text: dataDocument().Name"/>
        </div>

        <table class="plainTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align:right;">Value</th>
                </tr>
            </thead>
            <tbody data-bind="with: addTemplateFieldItem">
                <tr>
                    <td>Field Name</td>
                    <td style="text-align:right; padding-bottom: 2px">
                        <input type="text" data-bind="value: FieldName" />
                    </td>
                </tr>
                <tr>
                    <td>Field Description</td>
                    <td style="text-align:right; padding-bottom: 2px">
                        <input type="text" data-bind="value: FieldDescription" />
                    </td>
                </tr>
                <tr>
                    <td>Field Group</td>
                    <td style="text-align:right; padding-bottom: 2px">
                        <select data-bind="options: $parent.fieldGroups, optionsText: 'Description', optionsValue: 'Id', value: GroupId"></select>
                    </td>
                </tr>
                <tr>
                    <td>Field Sort Order</td>
                    <td style="text-align:right; padding-bottom: 2px">
                        <input type="text" data-bind="value: SortOrder" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td style="text-align:right">
                        <button style="font-size:0.85em; line-height:0.85em;" data-bind="click: addTemplateField, button:{}">create template field</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- /ko -->
      </div>
      <div id="tabs-templates">
        <div class="ui-widget">Create a new document from a template:</div>
        <div style="height:1em;"></div>
        <table class="defaultTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align:right">Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: templates -->
                <tr>
                    <td data-bind="text: TemplateName" ></td>
                    <td class="buttonColumn">
                        <button data-bind="click: $parent.createDataDocument, button: { text: true, icons: { primary: 'ui-icon-check' } }, attr: { title: 'Create a new document from template ' + TemplateName() }">create</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <div style="height:1em;"></div>
        <table class="plainTable"  data-bind="with: templateDocumentItem">
            <tbody>
                <tr>
                    <td>Template Name</td>
                    <td style="text-align:right; padding-bottom: 2px">
                        <input type="text" data-bind="value: TemplateName" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td style="text-align:right">
                        <button style="font-size:0.85em; line-height:0.85em;" title="Create a new template" data-bind="click: $parent.addTemplateDocument, button: {}">create template</button>
                    </td>
                </tr>
            </tfoot>
        </table>
      </div>          
      <div id="tabs-messages">
        <table class="plainTable">
            <thead>
                <tr>
                    <th style="width: 250px;">Date</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="messages">

            </tbody>
        </table>
      </div>
    </div>

</div>
<div>
    <table style="width:90%"  class="ui-corner-all">
        <tbody id="model-errors">
        </tbody>
    </table>
</div>

<script type="text/html" id="data-set-template">
    <tr>
        <td data-bind="text: Name"></td>
        <td class="buttonColumn">
            <button data-bind="click: $parent.selectSet, button: { text: false, icons: { primary: 'ui-icon-check' } }">select</button>
        </td>
    </tr>
</script>
<script type="text/html" id="data-item-template">
    <tr>
        <td data-bind="text: Description, attr: { title: Name() + ' | ' + SortOrder() }"></td>
        <td>
            <span data-bind="text: Value, attr: { title: Value() }" />
        </td>
        <td class="buttonColumn">
            <button data-bind="click: $root.edit, button: { text: false, icons: { primary: 'ui-icon-check' } }">edit</button>
        </td>
    </tr>
</script>
<script src='@Url.Content("~/Scripts/Views/Data.js")' type="text/javascript"></script>
@section scripts {
    <script type="text/javascript">
        $(function () {
            var id = @if(Model.HasValue){ @Model.Value } else { <text>null</text> };
            var messageTarget = $("#messages");
            var modelMessengerTarget = $("#model-errors");
            var pageViewModel = new PageViewModel({
                baseUrl: '@Url.Content("~/api")',
                messager: function (m) {
                    messageTarget.append("<tr><td>" + (new Date()).toUTCString() + "</td><td>" + m + "</td></tr>")
                },
                messagerClear: function () {
                    messageTarget.empty("tr");
                },
                modelMessenger: function (m) {
                    modelMessengerTarget.append("<tr><td class='ui-state-error'>" + m + "</td></tr>");
                },
                modelMessengerClear: function () {
                    modelMessengerTarget.empty("tr");
                }
            });

            pageViewModel.messager("Page binding...");
            ko.applyBindings(pageViewModel);
            pageViewModel.messager("Page binding complete...");
            pageViewModel.messager("Loading data for " + id + "...");
            pageViewModel.loadTemplates();
            pageViewModel.loadFieldGroups();
            pageViewModel.loadDataDocuments();
            if(id){
                pageViewModel.load(id);
                pageViewModel.messager("Loaded data for " + id + "...");
            }
            $(".actionButton").button();
            pageViewModel.messager("Done.");
            $("#tabs").tabs({ 
                activate: function (event, ui) { pageViewModel.modelMessengerClear(); }
            });

        });
    </script>
}
