@using System.Xml.Linq;
@{
    ViewBag.Title = "Data Documents";
}

<div>
    <div data-bind="tabs: { options: { active: 1 } }">
        <ul>
            <li>
                <a href="#tab-documents">Documents</a>
            </li>
            <li>
                <a href="#tab-groups">Templates</a>
            </li>
            <li><a href="#tab-messages">Messages</a></li>
        </ul>
        <div id="tab-documents">
            <div class="ui-widget">Select a document for editing :</div>
            <table class="defaultTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="text-align:right">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: dataDocuments -->
                    <tr>
                        <td data-bind="text: Name" ></td>
                        <td style="text-align:right;">
                            <button style="font-size:0.85em;" data-bind="click: selectDocuments, button: { text: false, icons: { primary: 'ui-icon-check' } }">select</button>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div id="tab-Templates">
            <div>
                Templates
            </div>
        </div>
        <div id="tab-messages">
            <table style="font-size: 0.85em;">
                <thead>
                    <tr>
                        <th style="width: 250px;">Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody id="messages">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src='@Url.Content("~/Scripts/moment.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Views/documents.js")' type="text/javascript"></script>
@section scripts {
    <script type="text/javascript">
        $(function () {
            var messageTarget = $("#messages");
            var id = @if(Model.HasValue){ @Model.Value } else { <text>null</text> };
            var config = new DataDocument.VMConfig({
                baseUrl: '@Url.Content("~/api")',
                message: function (m) {
                    messageTarget.append("<tr><td>" + moment().format('DD-MMM-YYYY HH:MM:SS') + "</td><td>" + m + "</td></tr>")
                },
                messageClear: function () {
                    messageTarget.empty("tr");
                }
            })
            
            var pageViewModel = new Documents.VM(config);
            $.when(
                pageViewModel.initialize().then(function () {
                    config.message('model initialized');
                })
            ).then(function () {
                pageViewModel.load().then(function () {
                    config.message('documents loaded');
                })
            }).then(function () {
                config.message('data bind started');
                ko.applyBindings(pageViewModel);
                config.message('data bind complete');
            });

        });
    </script>
}

@section styles {
    .defaultTable {
	    border-collapse: collapse;
        width: 100%;
        white-space:nowrap;
	}

    .defaultTable td {
        padding: 0em 0em 0em 0em;
    }

    .defaultTable .ui-button-text {
        padding-top: 0; padding-bottom: 0;
    }
    
    padding: 0.25em 2em 0.25em 0em;
}