@{
    ViewBag.Title = "Create - Generate Document";
}
<h2>Document Generation Creation</h2>
<div style="clear:both" id="grid">
    <div data-bind="koGrid: {
    data: rows,
    groups: ['DocumentName'],
    selectedItems: selectedRows,
    showGroupPanel: false,
    showColumnMenu: false,
    showFilter: false,
    displayFooter: false,
    columnDefs: [
        { field: 'DocumentName', displayName: 'Document Name', width: '50%' },
        { field: 'Name', width: '44%' }
    ]
}" style="height: 500px;"/>
</div>
<script type="text/html" id="hrt">
    <div data-bind="click: toggleExpand, style: {'left': offsetLeft()}" class="kgAggregate" id="headerRow">
        <table class="defaultTable headerRow" style="width: auto; margin-top: 2px">
            <tbody>
                <tr>
                    <td style="width: 25px"><span data-bind="attr: { 'class': aggClass }"></span></td>
                    <td style="vertical-align:middle;padding-right: 10px"><button data-bind="click: function (agg) { $userViewModel.generate(agg.index); }, button: {}" class="smallButton">Generate</button></td>
                    <td data-bind="html: $data.label"></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<div id="userMessages">
    <table stye="defaultTable" style="font-size: 0.85em; color:crimson;">
        <tbody>
            <!-- ko foreach: Generate.User.messages -->
            <tr>
                <td data-bind="text: $data"></td>
            </tr>
            <!-- /ko --> 
        </tbody>
    </table>
</div>

<script src='@Url.Content("~/Scripts/moment.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Views/generate.js")' type="text/javascript"></script>
@section scripts {
    <script type="text/javascript">
        $(function () {
            window.kg.aggregateTemplate = function () {
                var x = $("#hrt").text().trim();
                return x;
            }; //function () { return '<div data-bind="click: toggleExpand, style: {\'left\': offsetLeft()}" class="kgAggregate"><span class="kgAggregateText" data-bind="html: $data.label">(<span data-bind="html: totalChildren"></span> Items)</span><div data-bind="attr: {\'class\' : aggClass }">Test</div></div>'; };
            var messageTarget = $("#messages");
            var ids = [];
            var config = new Generate.VMConfig({
                baseUrl: '@Url.Content("~/Document")',
                baseApiUrl: '@Url.Content("~/api")',
                message: function (m) {
                    messageTarget.append("<tr><td>" + moment().format('DD-MMM-YYYY HH:MM:SS') + "</td><td>" + m + "</td></tr>")
                },
                messageClear: function () {
                    messageTarget.empty("tr");
                }
            })
            var pageViewModel = new Generate.VM(config);
            $.when(
                pageViewModel.initialize().then(function () {
                    config.message('model initialized');
                })
            ).then(function () {
                pageViewModel.load().then(function () {
                    config.message('documents loaded');
                })
            }).then(function () {
                config.message('data bind started');
                ko.applyBindings(pageViewModel);
                config.message('data bind complete');
            }).then(function () {
                $(".kgAggregateText").on("click", function (event) {
                    Generate.User.message("Row Clicked");
                })
            });


        });
    </script>
}

@section styles {
    .defaultTable {
	    border-collapse: collapse;
        width: 100%;
        white-space:nowrap;
	}

    .defaultTable td {
        padding: 0em 0em 0em 0em;
    }

    .defaultTable .ui-button-text {
        padding-top: 0; padding-bottom: 0;
    }
    
    

    .smallButton, .ui-button-text-only .ui-button-text {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .smallButton, .ui-button-text {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .ulHorizontal li {
      border-right: 1px solid #ffffff; 
      display:inline;
      text-align: center;
    }
}